/*

Assn: Interactive-JavaScript-Game
Filename: styles.css
File Description: CSS for Interactive Java-Game

*/
body {
    margin: 0;
}

h2, h3{
    text-align: center;
}

.boss-container {
    text-align: center;
}